.clock {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 15px;
    font-family: 'Courier New', Courier, monospace; /* Monospace font for better clock appearance */
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Adjust as needed */
}
