<app-header/>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center mb-4">Update User</h2>
    <div>
        <label for="userId">User ID:</label>
        <input id="userId" formControlName="userId" type="text" readonly>
        <div *ngIf="userForm.get('userId')?.invalid && userForm.get('userId')?.touched">
            User ID is required.
        </div>
    </div>
 
    <div>
        <label for="userName">Username:</label>
        <input id="userName" formControlName="userName" type="text"  >
        <div *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched">
            User Name is required, must be between 1 and 100 characters.
        </div>
    </div>
 
    <div>
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="text">
        <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
            Password is required.
        </div>
    </div>
 
    <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="text">
        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
            Email is required.
        </div>
    </div>
 
    <div>
        <label for="fullName">Full Name:</label>
        <input id="fullName" formControlName="fullName" type="text" >
        <div *ngIf="userForm.get('fullName')?.invalid && userForm.get('fullName')?.touched">
            Full Name is required.
        </div>
    </div>
    <div class="submit-container">
        <button type="submit" >Submit</button>
        <span *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
        </span>
        <span *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </span>
    </div>
</form>
