
<div class="container mt-4" >
    <h2 class="text-center">Attachments</h2>
    <button class="btn mb-2 btn-outline-info btn-sm" [routerLink]="['/allAttachments']">view more</button>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attachment of attachments">
          <td>{{ attachment.attachmentId }}</td>
          <td>{{ attachment.fileName }}</td>
          <td>{{ attachment.filePath }}</td>
          
        </tr>
      </tbody>
    </table>
  
    
  </div>
  