
.table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table thead th {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
}

.table tbody tr {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.table tbody tr:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
}

.table tbody td {
    padding: 10px;
    border-top: none;
}

.table tbody tr:first-child td {
    border-top: none;
}

/* ******** */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Darken the background for better readability */
    z-index: 0;
}


 
.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../../../public/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    animation: moveBackground 35s linear infinite;
}

 
.container {
    position: relative;
    z-index: 1;
    opacity: 90%;
}
 
table {
    opacity: 85%;
}